
.RellenoNav{
    width: 100%;
    height: 11vh;
}
.Cabezera{
    display:flex;
    width: 100vw;
    height: 11vh;
    justify-content:center;
    align-items:center;
    position: fixed;
    top:0px;
    background:rgb(255, 255, 255);
    z-index: 100;
}

.Cabezera > nav {
    max-width: 85%;
    height:9vh;
    flex-grow: 1;
    display: flex;
    justify-content:space-between;
}

/* Logo  */
.LogoBusqueda_cont{
    display:flex;
    width: 100%;
    justify-content:space-between;
    user-select: none;
}

.Logo{
    cursor:pointer;
    display:flex;
    min-width: 150px;
    user-select: none;
}

.Logo > img {
    width: 40%;
}
.TextoLogo{
    font-family:Hendrickson;
    font-size: 100px;
    padding-left: 10px;
    line-height:10px;
    display: flex;
    align-items: center;
}

/* Barra de busqueda */
.BarraBusqueda_cont{
    display: flex;
    align-items: center;
    /* width:75%; */
    justify-content:flex-end;
    background: white;
    margin-right: 15px;
}

.BarraBusqueda{
    width:100%;
    /* height: 35px; */
    height: 30%;
    outline: none;  
    border: 0;
    background: rgba(174, 174, 174, 0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    padding: 5px 15px;
    font-size:16px;
    color:#434343;
    display: none;
}

.BarraBusqueda_cont > button{
    background: transparent;
    border:0;
    border-radius: 35px;
    padding: 7px .9vw 4px 8px;
    outline:none;
    position: absolute;
    cursor:pointer;
    height: auto;
}

.BarraBusqueda_cont > button img {
    width: 4vh;
}   

@media (max-width: 1400px){
    .Cabezera > nav {
        max-width: 90%;
        height:11vh;
        flex-grow: 1;
        display: flex;
        justify-content:space-between;
    }
}

/* Menu */
.RellenoMenu{
    width: 100%;
    height: 9vh;
    padding-top: 10vh;
    margin-top: 10vh;
}
.Menu_cont{
    display:flex;
    width: 100%;
    height: 8vh;
    justify-content:center;
    align-items:flex-end;
    position: fixed;
    bottom:0px;
    /* background:gray; */
    z-index: 100;
    z-index: 106;
 
}

.Menu_cont > div {
    height:8vh;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-grow: 1;
    background: white;
}

.ItemsNav{
    list-style: none;
    width:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    padding: 0;
}

.ItemsNav > li{
    width:40px;
    width:9%;
}
.ItemsNav > li > img{
    width:100%;
    object-fit: cover;
}
.PerfilImagen{
    border-radius: 100px;
}

@media (min-width: 530px){
    .ItemsNav > li{
        width:6%;   
    }
}
@media (min-width: 500px){
    .ItemsNav > li{
        width:7%;   
    }
}