.MainContainer{
  width:100vw;
  height:100vh;
  overflow-x: hidden;
}

.MainContainerLanding{
  width:100vw;
  height:100vh;
  background: #171717;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative
}


@media (max-width:700px){
  .MainContainer{
    margin-top: 11vh;
    margin-bottom: 8vh;
    height:81vh;

  }

}
